/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

// layers

#define DEFAULT 0
#define LOWER 1
#define MAGIC 2

/ {
    behaviors {
        // For the "layer" key, it'd nice to be able to use it as either a shift or a toggle.
        // Configure it as a tap dance, so the first tap (or hold) is a &mo and the second tap is a &to

        layer_td: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mo 0>, <&to 0>;
        };

        key_layer_timed: key_layer_timed {
            compatible = "zmk,behavior-hold-tap";
            label = "KEY_LAYER_TIMED";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        key_key_timed: key_key_timed {
            compatible = "zmk,behavior-hold-tap";
            label = "KEY_KEY_TIMED";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };
    };

    macros {
        bt_0: bt_profile_macro_0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&out OUT_BLE &bt BT_SEL 0>;
        };

        bt_1: bt_profile_macro_1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&out OUT_BLE &bt BT_SEL 1>;
        };

        bt_2: bt_profile_macro_2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&out OUT_BLE &bt BT_SEL 2>;
        };

        bt_3: bt_profile_macro_3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&out OUT_BLE &bt BT_SEL 3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&trans    &trans      &trans    &trans     &trans                                                                                                   &trans                     &trans      &trans         &trans    &trans
&trans    &trans      &trans    &trans     &trans   &trans                                                                                  &trans  &trans                     &trans      &trans         &trans    &trans
&kp TAB   &kp Q       &kp W     &kp F      &kp P    &kp B                                                                                   &kp J   &kp L                      &kp U       &kp Y          &kp SEMI  &trans
&kp ESC   &kp A       &kp R     &mo 1      &kp T    &kp G                                                                                   &kp M   &key_key_timed LEFT_GUI N  &kp E       &kp I          &kp O     &trans
&kp LALT  &kp X       &kp C     &kp D      &kp V    &kp Z   &kp LEFT_CONTROL  &mo 4  &mo 5               &trans  &trans     &kp LEFT_SHIFT  &kp K   &kp H                      &kp COMMA   &kp DOT        &kp FSLH  &kp RALT
&kp LGUI  &kp DELETE  &kp BSPC  &kp SPACE  &kp RET          &mo 2             &mo 3  &kt LEFT_CONTROL    &trans  &kp ENTER  &mo 3                   &trans                     &kp DELETE  &kp BACKSPACE  &trans    &trans
            >;
        };

        right_mirror_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans                                                                               &trans                     &trans      &trans         &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans                                                               &trans  &trans                     &trans      &trans         &trans    &trans
&trans  &kp H   &kp Y   &trans  &kp L   &kp J                                                                &kp J   &kp L                      &kp U       &kp Y          &kp SEMI  &trans
&trans  &kp O   &kp I   &trans  &kp N   &kp M                                                                &kp M   &key_key_timed LEFT_GUI N  &kp E       &kp I          &kp O     &trans
&trans  &kp E   &kp U   &trans  &kp F   &kp K   &trans  &trans  &trans    &trans  &trans     &kp LEFT_SHIFT  &kp K   &kp H                      &kp COMMA   &kp DOT        &kp FSLH  &kp RALT
&trans  &trans  &trans  &trans  &kp S           &trans  &trans  &trans    &trans  &kp ENTER  &mo 3                   &trans                     &kp DELETE  &kp BACKSPACE  &trans    &trans
            >;
        };

        num_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans                                                                             &trans    &trans  &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                                                           &trans    &trans    &trans  &trans     &trans  &trans
&trans  &trans  &kp N7  &kp N8  &kp N9  &trans                                                           &trans    &trans    &trans  &trans     &trans  &trans
&trans  &kp N0  &kp N4  &kp N5  &kp N6  &trans                                                           &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &trans  &trans
&trans  &trans  &kp N1  &kp N2  &kp N3  &trans  &trans  &trans  &trans    &trans  &trans  &kp BACKSPACE  &trans    &trans    &trans  &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans    &trans  &trans  &trans                   &trans    &trans  &trans     &trans  &trans
            >;
        };

        symbol_layer {
            bindings = <
&trans        &trans        &trans         &trans         &trans                                                                                         &trans                &trans                 &trans         &trans            &trans
&kp LS(LT)    &kp EQUAL     &kp LS(UNDER)  &kp LS(LT)     &kp LS(GT)         &trans                                                              &trans  &trans                &trans                 &trans         &trans            &trans
&kp LBKT      &kp RBKT      &kp AMPS       &kp STAR       &kp SINGLE_QUOTE   &kp TILDE                                                           &trans  &kp LBKT              &kp RBKT               &kp UNDER      &kp EQUAL         &trans
&kp LS(LBRC)  &kp LS(RBRC)  &kp DOLLAR     &kp PERCENT    &kp CARET          &kp PIPE                                                            &trans  &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp MINUS      &kp PLUS          &trans
&kp LS(LPAR)  &kp LS(RPAR)  &kp EXCL       &kp AT         &kp POUND          &kp GRAVE  &kp BACKSPACE  &trans  &trans    &trans  &trans  &trans  &trans  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp LESS_THAN  &kp GREATER_THAN  &trans
&trans        &kp MINUS     &kp LS(PLUS)   &kp BACKSLASH  &kp DOUBLE_QUOTES             &trans         &trans  &trans    &trans  &trans  &trans          &trans                &trans                 &trans         &trans            &trans
            >;
        };

        function_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans                                                                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                                                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp F7  &kp F8  &kp F9  &trans                                                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp F4  &kp F5  &kp F6  &trans                                                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp F1  &kp F2  &kp F3  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans    &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
            >;
        };

        magic_layer {
            bindings = <
&bt BT_CLR   &none            &none            &none            &none                                                                                                   &none         &none         &none         &none  &none
&none        &none            &none            &none            &none            &none                                                                           &none  &none         &none         &none         &none  &none
&none        &rgb_ug RGB_SPI  &rgb_ug RGB_SAI  &rgb_ug RGB_HUI  &rgb_ug RGB_BRI  &rgb_ug RGB_TOG                                                                 &none  &none         &none         &none         &none  &none
&bootloader  &rgb_ug RGB_SPD  &rgb_ug RGB_SAD  &rgb_ug RGB_HUD  &rgb_ug RGB_BRD  &rgb_ug RGB_EFF                                                                 &none  &bt BT_SEL 3  &bt BT_SEL 4  &none         &none  &bootloader
&sys_reset   &none            &none            &none            &none            &none            &bt_2  &bootloader  &none           &none  &bootloader  &none  &none  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &none  &sys_reset
&none        &none            &none            &none            &none                             &bt_0  &bt_1        &out OUT_USB    &none  &bt BT_CLR   &none         &none         &none         &none         &none  &none
            >;
        };
    };
};
